!!!
%html
  %head
    %title it works
    = csrf_meta_tags

    -# CSS is served as JS in dev, for hot reloading
    - if !Rails.env.production?
      = javascript_include_tag *webpack_asset_paths('style', extension: 'js')
    = stylesheet_link_tag *webpack_asset_paths('style', extension: 'css')

    = javascript_include_tag *webpack_asset_paths('application', extension: 'js'), async: true

  %body
    = yield